<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Admin</title>
</head>

<body>
        <header class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    <img src="/images/star-logo.png" alt="logo" style="width: 100%">
                                </div>
                                <div class="col-12 col-lg-9">
                                    <h1>FiveStar Food</h1>
                                    <p>Los mejores productos los encontrás aquí!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

    <div id="nav"></div>

    <div id="displayed-content"></div>

    <div class="footer">
        Proyecto Programación Comercial
    </div>

    <script src="/javascripts/bundle.js"></script>

</html>