<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Login</title>
</head>

<body style="background: url('/images/bedge_grunge.png')">
    <div class="container">
        <div class="col-sm-6 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="text-center">
                        <span class="fa fa-sign-in"></span> Login
                    </h1>

                    <% if(message.length > 0) { %>
                        <div class="alert alert-danger">
                            <%= message %>
                        </div>
                        <% } %>

                            <form action="/login" method="post">
                                <div class="form-group">
                                    <label for="username">Usuario</label>
                                    <input type="text" name="username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password">Contraseña</label>
                                    <input type="password" name="password" class="form-control">
                                </div>
                                <input type="submit" value="Ingresar" class="btn btn-dark btn-lg">
                            </form>
                            <hr>
                            <div class="text-center">
                                <p>Necesitas una cuenta?
                                    <a href="/signup">signup</a>
                                </p>
                                <p>O ir a
                                    <a href="/">Home.</a>
                                </p>
                            </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>