<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Signup</title>
</head>

<body style="background: url('/images/bedge_grunge.png')">
    <div class="container">
        <div class="col-sm-6 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="text-center">
                        <span class="fa fa-sign-in"></span> Signup
                    </h1>

                    <% if(message.length > 0) { %>
                        <div class="alert alert-danger">
                            <%= message %>
                        </div>
                        <% } %>

                            <form action="/signup" method="post">
                                <div class="form-group">
                                    <label>*Email:</label>
                                    <input type="text" class="form-control" name="email" required>
                                    <label>*Contraseña:</label>
                                    <input type="password" class="form-control" name="password" required> 
                                    <label for="">*Nombre Compañia:</label>
                                    <input type="text" name="companyName" placeholder="Ingrese Compañia" maxlength="50" required>
                                    <label>*Nombre:</label>
                                    <input type="text" name="firstName" placeholder="Ingrese Nombre" maxlength="50" required>
                                    <label>*Apellido:</label>
                                    <input type="text" name="lastName" placeholder="Ingrese Apellido" maxlength="50" required>
                                    <label>*Pais:</label>
                                    <input type="text" name="country" placeholder="Ingrese País" maxlength="50" required>
                                    <label>Region:</label>
                                    <input type="text" name="region" placeholder="Ingrese Región" maxlength="50">
                                    <label>*Ciudad:</label>
                                    <input type="text" name="city" placeholder="Ingrese Ciudad" maxlength="50" required>
                                    <label>*Dirección:</label>
                                    <input type="text" name="address" placeholder="Ingrese Dirección" required>
                                    <label>*Código Postal:</label>
                                    <input type="text" name="postalCode" placeholder="Ingrese Código Postal" maxlength="15" required>
                                    <label>Telefono:</label>
                                    <input type="text" name="phone" placeholder="Ingrese Teléfono" maxlength="25" pattern="[0-9]{0,}">
                                </div>

                                <input type="submit" class="btn btn-warning btn-lg">Signup</button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <p>Tienes una cuenta?
                                    <a href="/login">login</a>
                                </p>
                                <p>O ir a
                                    <a href="/">Home.</a>
                                </p>
                            </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>