* {
    box-sizing: border-box;
}

:root {
    /*--color1: #2a4d69;
    --color2: #4b86b4;
    --color3: #adcbe3;
    --color4: #e7eff6;
    --color5: #63ace5;
    */
    --color1: #2a4d69;
    --color2: #008ab1;
    --color3: #ff9b55;
    --color4: #dfccbe;
    --color5: #61b5d9;
}

body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url("../images/bedge_grunge.png");
}

.inner-topbar {
    display: flex;
    justify-content: space-between;
    color: lightgray;
}

.inner-topbar .material-icons {
    color: black;
}

.inner-topbar .material-icons:hover {
    cursor: pointer;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: var(--color1);
    color: white;
    border-radius: 0;
}

.navbarCustom {
    display: flex;
    background-color: var(--color2); 
}

.navbarCustom div {
    text-decoration: none;
    padding: 10px;
    color: white;
    text-align: center;
}

.navbarCustom div:hover {
    background-color: var(--color5);
    cursor: pointer;
}


.sidebar {
    background-color: var(--color4);
    flex: 25%;
    padding: 10px;
}

.content {
    padding: 5px 30px;
    background-color: white;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.option-card, .option-card-right {
    margin: 10px;
    background-color: var(--color2);
    color: white;
    font-size: 2.3em;
}

.option-card:hover, .option-card-right:hover {
    background: var(--color1);
    cursor: pointer;
}

.option-card-right {
    text-align: right;
}

.current {
    background: var(--color3);
    color: white;
    cursor: default;
}

.footer {
    padding: 20px;
    background-color: var(--color1);
    text-align: center;
    color: white;
}

@media screen and (max-width: 700px) {
    .navbarCustom {   
        flex-direction: column;
    }

    .wrapper {
        flex-direction: column;
    }
}

.aside {
    flex: 25%;
}

.login {
    padding: 15px;
    margin: 10px 10px 10px 0px;
    background: white;
    border: 1px solid lightgrey;
    box-shadow: -2px 2px 5px gray;
}

.login input[type=text], .login input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login button {
    background-color: var(--color3);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login button:hover {
    opacity: 0.8;
}

.middle {
    flex: 50%;
    margin: 10px;
    background-color:  white;
    box-shadow: -2px 3px 7px gray;
    border: 1px solid lightgray;
    padding: 15px;
}

#box1, #box2, #box3 {
    margin: 10px 0px 10px 10px;
    padding: 10px;
    box-shadow: -2px 3px 7px gray;
    color: white;
}

#box1 {
    background-color: var(--color3);
}

#box2 {
    background-color: var(--color5);
}

#box3 {
    background-color: var(--color2);
}

.ads {
    margin: 10px 10px 10px 0px;
    padding: 10px;
    box-shadow: -2px 3px 7px gray;
    background-color: white;
    width: 320px;
    padding: 5px;
}

.form-container {
    padding: 16px;
    background-color: white;
    width: 50%;
}

form input[type=submit] {
    background-color: var(--color3);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

form input[type=submit]:hover {
    opacity: 1;
}

form input[type=text], form input[type=password], form input[type=number], form input[type=email], form select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

form input[type=text]:focus, form input[type=password]:focus, form input[type=number]:focus, form input[type=email]:focus form select:focus {
    background-color: #ddd;
    outline: none;
}

